body {
	position: relative;
    font-size: 18px;
}

.bg-black {
    background-color: rgba(0, 0, 0, .9);
}

.navbar {
    border-bottom: 4px solid rgba(56, 165, 219, 1);
}

.main-title {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.sub-title {
    font-size: 1.8rem;
    text-align: right;
    color: rgba(56, 165, 219, 1);
}

#logo-img {
    width: 5rem;
    height: 5rem;
    margin-right: 1.1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, 1.0);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255, 1.0);
}

.nav-link {
    font-size: 1rem;
}

.divider {
    margin: 6rem auto;
    border: 0.05rem solid rgba(204, 204, 204, 1);
}

.card {
    margin: 1rem;
    text-overflow: ellipsis;
    text-align: center;
}

.card-title {
    text-align: center;
    color: rgba(56, 165, 219, 1)!important;
}

.card-btn {
    color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(56, 165, 219, 1);
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    align-items: flex-start;
    cursor: pointer;
    border: none;
}

.card-btn:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(51, 51, 51, 1);
}

.section-header {
    text-align: center;
    font-size: 3.2rem;
    color: rgba(51, 51, 51, 1);
}

.text-muted {
    display: block;
    line-height: 3rem;
}

.header-divider {
    border: 0.1rem solid rgba(56, 165, 219, 1);
    max-width: 33.3rem;
    margin-bottom: 2.7rem;
}

a {
    color: inherit;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgba(56, 165, 219, 1);
    font-weight: bold;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

footer {
    margin-top: 5rem;
    padding-bottom: 3rem;
    background-color: rgba(0, 0, 0, .9);
    color: rgba(56, 165, 219, 1);
    text-align: center;
    border-top: 0.2rem solid rgba(56, 165, 219, 1);
}

.fa-caret-up {
    font-size: 1.7rem;
}

.back-btn {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(56, 165, 219, 1);
    border-color: rgba(255, 255, 255, 1);
    position: relative;
    top: -1.38rem;
}

.back-btn:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(51, 51, 51, 1);
    border-color: rgba(255, 255, 255, 1);
}

/* Carousel ==========================================*/
.carousel {
    margin-top: 8.5rem;
}

.btn-brand {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(56, 165, 219, 1);
    border-color: rgba(255, 255, 255, 1);
    margin-bottom: 2.2rem;
}

.btn-brand:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(51, 51, 51, 1);
    border-color: rgba(255, 255, 255, 1);
}

.fa-caret-left,
.fa-caret-right {
    font-size: 2.6rem;
    color: rgba(255, 255, 255, .5);
}

.fa-caret-left:hover,
.fa-caret-right:hover {
    color: rgba(56, 165, 219, 1);
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, 1);
    border: 0.1rem solid rgba(56, 165, 219, 1);
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 1.1rem;
}

.carousel-indicators .active {
    background-color: rgba(56, 165, 219, 1);
}

/* Responsive CSS ======================================*/
@media (max-width: 768px) {
    /* Bump up size of carousel content */
    .navbar-brand {
        display: none;
    }

    .carousel {
        margin: 6.2rem auto;
    }

    .carousel-indicators li {
    	visibility: hidden;
    }

    .btn-brand {
        color: transparent;
        background-color: transparent;
        border-color: transparent;
        position: relative;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
    }

    .btn-brand:hover {
        color: transparent;
        background-color: transparent;
        border-color: transparent;
        width: 100%;
        height: 100vh;
    }

    .card {
        margin-top: 2.6rem;
    }
}

@media (max-width: 420px) {
    #logo-img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .carousel {
        margin: 3.7rem auto;
    }
}